.url__btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.url__container {
  font-size: 1rem;
  text-align: center;
}

.url__content {
  display: flex;
  justify-content: center;
  margin: 1em 0;
  padding: 0 0.625em;
}

.url__input {
  width: 50%;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.url__text {
  padding: 0 0.625em;
}

@media only screen and ( max-width: 769px) {
  .url__input {
    width: 100%;
  }
}
