.register__card {
  max-width: 400px;
  margin: 0 auto;
  padding: 2em 0.625em;
  font-size: 1rem;
  border: 1px solid #CCCCCC;
  border-radius: .2em;
}

.register__form {
  max-width: 300px;
  margin: 1em auto 0;
}

.register__header {
  font-size: 2.5rem;
  text-align: center;
}

.register__input {
  margin-bottom: 0.3125em;
}

.register__input:last-of-type {
  margin-bottom: 1em;
}

.register__input,
.register__btn {
  width: 100%;
}

@media only screen and ( max-width: 769px) {
  .register__card {
    max-width: 100%;
    margin: 0 0.625em;
  }

  .register__form {
    max-width: 100%;
  }
}
