.absolute {
  position: absolute;
}

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.face-detect__container{
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.face-detect__img {
  padding: 0.625em;
  max-width: 500px;
}

@media only screen and ( max-width: 769px) {
  .face-detect__img {
    max-width: 100%;
  }
}
